.card {
  border: solid black 0.15em;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.card-img {
  border-bottom: solid black 0.15em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-footer {
  padding: 0rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.info-container {
  text-align: left; /* Align text content to the left */
}

.info-list {
  list-style: none; /* Remove default list styles */
  padding: 0.5rem; /* Remove default padding */
}

.info-list li {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

#facility {
  font-size: 16px;
  font-weight: bold;
}

#campus, #floor {
  font-size: 19px;
}

.btn-custom {
  font-size: 20px;
}

.btn-primary {
  background-color: #F8B300;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: #333333;
  border: black;
  width: 100%;
}

.btn-primary:hover {
  background: #555555 !important;
}

.btn-primary:focus {
  background-color: #F8B300;
}